@model IEnumerable<StarCoins.Models.AlunoAtividade>

@{
    ViewData["Title"] = "Atividades dos Alunos";
}

<div class="text-center">
    <h2>Atividade: @Model.First().Atividade.Nome</h2>

    <form action="/AlunoAtividade/SalvarNotas" method="post">
        <input type="hidden" name="atividadeId" value="@Model.First().Atividade.AtividadeId" />
        <table class="table">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Nota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var alunoAtividade in Model)
                {
                    <tr>
                        <td>@alunoAtividade.Aluno.Nome</td>
                        <td>
                            <input type="hidden" name="alunoAtividades[@alunoAtividade.AlunoAtividadeId].AlunoAtividadeId" 
                                value="@alunoAtividade.AlunoAtividadeId" />
                            <input type="hidden" name="alunoAtividades[@alunoAtividade.AlunoAtividadeId].UsuarioId" 
                                value="@alunoAtividade.UsuarioId" />
                            <input type="number" step="0.1" name="alunoAtividades[@alunoAtividade.AlunoAtividadeId].Nota" 
                                value="@alunoAtividade.Nota ?? 0" min="0.0" max="10" placeholder="0.0" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (!Model.Any(a => a.Nota.HasValue))
        {
            <button type="submit" class="btn btn-primary">Salvar Notas</button>
        }
        <a class="btn btn-outline-secondary" href="/atividade/read">Voltar</a>
    </form>

</div>
